.container-fluid {
  color: black;
  margin-top: 100px;
  max-width: 1280px;
  height: 100%;
}

.pullImage {
  width: 250px;
  height: 250px;
  margin: auto auto 10px auto;
  border: 1px solid black;
  border-radius: 500px;
}

.row {
  margin-bottom: 30px;
  border-bottom: 3px solid black;
}

.col-md-3{
    border: 1px solid blue;
    padding: 20px;
}

.col-md-9{
    overflow: scroll;
    border: 1px solid green;

}

::-webkit-scrollbar { 
    display: none; 
}
