a {
  text-decoration: none;
  color: black;
}

.container {
  color: black;
  margin-top: 50px;
}

.goBack {
  margin-bottom: 30px;
  cursor: pointer;
}

.pullImage {
  width: 46px;
  height: 46px;
  margin: 5px 20px;
}

::-webkit-scrollbar {
  display: none;
}

.row {
  margin-bottom: 80px;
  min-width: 700px;
}

.col-md-12 {
  overflow: scroll;
  border: 1px solid #bbc0da00;
  min-height: 100px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(209, 213, 218);
  min-width: 500px;
  cursor: pointer;
}

.col-md-12 .row {
  margin-bottom: 0px;
  padding: 5px 20px;
  border: 1px solid rgb(209, 213, 218);
  background-color: rgb(246, 248, 250);
}

.title {
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.body {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px 30px;
  text-align: justify;
}

.name {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
}
