.container-fluid {
  color: black;
  max-width: 1280px;
  height: 100%;
  margin-top: 50px;
}

::-webkit-scrollbar {
  display: none;
}

.repositories {
  width: 250px;
  height: 250px;
  margin: auto auto 10px auto;
  box-shadow: 2px 5px #5e5c5c;
  border-radius: 10px;
}


span {
  font-weight: bold;
  font-style: italic;
}

.icon {
  width: 18px;
  height: 18px;
  margin: 5px 10px;
}

.col-md-3 {
  padding-top: 20px;
  overflow: scroll;
  cursor: pointer;
}

.col-md-6 {
  max-width: 145px;
  max-height: 30px;
}

.col-md-6 p{
  font-size: 18px;
  margin-top: 2px;
}

.title h4 {
  color: blue;
  text-align: left;
  text-justify: auto;
  font-size: 21px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title p {
  color: black;
  text-align: left;
  margin: 0px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}